*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
ul,li,ol,dl,dt,dd{
    list-style: none;
}
//封装背景
@mixin bkd($a, $b, $c,) {
    background: {
        image: url($a);
        repeat: $b;
        position: $c;
    }
}

//变量
$ys:#414141;
$width:100%;
$margin:0 auto;
$one:1280px;