
@import "./_default.scss";
/*头部*/
#nav {
    width: $width;
    background: $ys;
    height: 40px;

    .nav {
        height: 40px;
        width: $one;
        margin: $margin;

        span {
            height: 40px;
            display: block;
            width: 500px;
            @include bkd("../img/nav0.1.png", no-repeat, left);
            padding-left: 25px;
            line-height: 40px;
            float: left;

            background: {
                size: 16px;
            }

            li {
                position: relative;

                p {
                    position: absolute;
                    top: 40px;
                    left: -28px;
                    display: block;
                    height: 40px;
                    background: #565656;
                    top: 40px;
                    @include bkd("../img/hua.png", no-repeat, left);
                    background-position: 10%;
                    background-size: 26px;
                    padding-left: 45px;
                    width: 55px;
                    display: none;
                    cursor: pointer;
                }

                &:hover p {
                    display: block;
                }
            }

            a {
                display: block;
                width: 128px;
                height: 40px;
                float: left;

                &:nth-child(1) {
                    @include bkd("../img/nav0.2.png", no-repeat, left);
                    line-height: 40px;
                    color: #fff;
                    border-right: 1px black solid;
                    width: 70px;
                    text-align: center;
                    font-size: 13px;

                    background: {
                        size: 18px;
                    }
                }

                &:nth-child(2) {
                    @include bkd("../img/nav03.png", no-repeat, center);
                    background-size: 60%;
                    border-right: 1px solid black;
                }

                &:nth-child(3) {
                    @include bkd("../img/nav2.svg", no-repeat, center);
                    background-size: 70%;
                    border-right: 1px solid #fff;

                    &:hover {
                        background: #fff url("../img/nav2.svg") no-repeat center;
                        background-size: 70%;
                    }
                }

                &:nth-child(4) {
                    @include bkd("../img/nav3 (2).svg", no-repeat, center);
                    background-size: 100%;

                    &:hover {
                        background: #fff url('../img/nav3 (2).svg') no-repeat center;
                        background-size: 100%;
                    }
                }

            }
        }

        .nav_right {
            height: 40px;
            width: 125px;
            float: right;
            line-height: 40px;
            position: relative;
            margin-right: 75px;

            a {
                display: inline;
                border-right: 1px solid #fff;
                padding: 0 7px;
                color: #fff;

                &:nth-child(3) {
                    border-right: none;
                }
            }

            .log {
                width: 300px;
                height: 170px;
                background: #fff;
                position: absolute;
                z-index: 10;
                left: -190px;
                display: none;

                p {
                    padding: 5px 0 15px 100px;
                    overflow: hidden;
                    border-bottom: 1px solid #414141;

                    a {
                        display: block;
                        color: #414141;
                        float: left;
                        line-height: 16px;

                        &:nth-child(2) {
                            border-right: none;
                        }
                    }
                }

                img {
                    display: block;
                    width: 90px;
                    height: 90px;
                    margin: 20px 0 0 15px;
                    float: left;

                }

                nav {
                    width: 150px;
                    line-height: 20px;
                    margin: 0 20px;
                    float: left;
                    margin-top: 20px;
                    font-size: 12px;

                    strong {
                        font-size: 14px;
                    }
                }
            }

            &:hover .log {
                display: block;
                z-index: 200;
            }
        }

    }
}

/*roseonly板块*/
.roseonly {
    width: 100%;
    height: 80px;
    background: #414141;
    box-shadow: 0px -2px 7px rgba(0, 0, 0, 0.5);

    a {
        display: block;
        height: 80px;
        width: 150px;
        margin: 0 auto;
        @include bkd("../img/nav1.svg", no-repeat, center);
        background-size: 150%;
    }
}

/*二级下拉*/
#navigation {
    width: 100%;
    height: 40px;
    background: #414141;

    #ceiling {
        width: 100%;
        height: 40px;
        background: #414141;
        position: absolute;
    }

    .navigation {
        width: $one;
        margin: 0 auto;
        display: flex;
        justify-content: center;

        li {
            line-height: 40px;
            padding: 0 25px;

            .love {
                width: 70px;
                text-align: center;
                display: block;
                font-size: 14px;
                color: #fff;
                position: relative;

                &:hover {
                    color: #414141;
                    background: #fff;
                }
            }

            .altj {
                width: $width;
                min-height: 320px;
                position: absolute;
                left: 0;
                display: none;
                border-bottom: 2px solid #414141;
                background: #ffff;
                z-index: 100;

                .altj_ul {
                    width: $one;
                    min-height: 320px;
                    position: relative;
                    margin: 0 auto;

                    li {
                        float: left;
                        padding: 0 50px;
                        border-left: 1px solid black;

                        a {
                            display: block;
                            color: black;
                            line-height: 35px;
                        }

                        &:nth-child(1) {
                            border-left: none;
                        }
                    }

                    .img {
                        width: 600px;
                        height: 250px;
                        margin-top: 35px;
                        margin-left: 170px;
                    }
                }
            }
        }
    }
}
