//导入默认样式

//sass --watch homePage.scss:homePage.css --style expanded

@import "./_default.scss";




/*头部*/
#nav {
    width: $width;
    background: $ys;
    height: 40px;

    .nav {
        height: 40px;
        width: $one;
        margin: $margin;

        span {
            height: 40px;
            display: block;
            width: 500px;
            @include bkd("../img/nav0.1.png", no-repeat, left);
            padding-left: 25px;
            line-height: 40px;
            float: left;

            background: {
                size: 16px;
            }

            li {
                position: relative;

                p {
                    position: absolute;
                    top: 40px;
                    left: -28px;
                    display: block;
                    height: 40px;
                    background: #565656;
                    top: 40px;
                    @include bkd("../img/hua.png", no-repeat, left);
                    background-position: 10%;
                    background-size: 26px;
                    padding-left: 45px;
                    width: 55px;
                    display: none;
                    cursor:pointer;
                }
                &:hover p{
                    display: block;
                }
            }

            a {
                display: block;
                width: 128px;
                height: 40px;
                float: left;

                &:nth-child(1) {
                    @include bkd("../img/nav0.2.png", no-repeat, left);
                    line-height: 40px;
                    color: #fff;
                    border-right: 1px black solid;
                    width: 70px;
                    text-align: center;
                    font-size: 13px;

                    background: {
                        size: 18px;
                    }
                }

                &:nth-child(2) {
                    @include bkd("../img/nav03.png", no-repeat, center);
                    background-size: 60%;
                    border-right: 1px solid black;
                }

                &:nth-child(3) {
                    @include bkd("../img/nav2.svg", no-repeat, center);
                    background-size: 70%;
                    border-right: 1px solid #fff;

                    &:hover {
                        background: #fff url("../img/nav2.svg") no-repeat center;
                        background-size: 70%;
                    }
                }

                &:nth-child(4) {
                    @include bkd("../img/nav3 (2).svg", no-repeat, center);
                    background-size: 100%;

                    &:hover {
                        background: #fff url('../img/nav3 (2).svg') no-repeat center;
                        background-size: 100%;
                    }
                }

            }
        }

        .nav_right {
            height: 40px;
            width: 200px;
            float: right;
            line-height: 40px;

            a {
                display: inline;
                border-right: 1px solid #fff;
                padding: 0 7px;
                color: #fff;

                &:nth-child(3) {
                    border-right: none;
                }
            }
        }
    }
}

/*roseonly板块*/
.roseonly {
    width: 100%;
    height: 80px;
    background: #414141;
    box-shadow: 0px -2px 7px rgba(0, 0, 0, 0.5);

    a {
        display: block;
        height: 80px;
        width: 150px;
        margin: 0 auto;
        @include bkd("../img/nav1.svg", no-repeat, center);
        background-size: 150%;
    }
}

/*二级下拉*/
#navigation {
    width: 100%;
    height: 40px;
    background: #414141;

    .navigation {
        width: $one;
        margin: 0 auto;
        display: flex;
        justify-content: center;

        li {
            line-height: 40px;
            padding: 0 25px;

            .love {
                width: 70px;
                text-align: center;
                display: block;
                font-size: 14px;
                color: #fff;
                position: relative;

                &:hover {
                    color: #414141;
                    background: #fff;
                }
            }

            .altj {
                width: $width;
                min-height: 320px;
                position: absolute;
                left: 0;
                display: none;
                border-bottom: 2px solid #414141;
                background: #ffff;
                .altj_ul {
                    width: $one;
                    min-height: 320px;
                    position: relative;
                    margin: 0 auto;

                    li {
                        float: left;
                        padding: 0 50px;
                        border-left: 1px solid black;

                        a {
                            display: block;
                            color: black;
                            line-height: 35px;
                        }

                        &:nth-child(1) {
                            border-left: none;
                        }
                    }

                    .img {
                        width: 600px;
                        height: 250px;
                        margin-top: 35px;
                        margin-left: 170px;
                    }
                }
            }
        }
    }
}

/*轮播图*/
#slideshow {
    width: $one;
    height: 450px;
    border: 1px solid black;
    margin: 0 auto;
}

/*新人礼卷*/ 
#xrlj{
    width:$one;
    height:450px;
    margin: 0 auto;
    img{
        display: block;
        width: 100%;
        height:100%;
    }
}

/*至臻献礼，全新上市*/
#zzxl{
    width:$one;
    height:450px;
    margin: 0 auto;
    cursor:pointer;
    img{
        display: block;
        width: 100%;
        height:100%;
    }
} 

/*鲜花玫瑰*/
#xhmg{
    width:$one;
    height:450px;
    margin: 0 auto;
    cursor:pointer;
    img{
        display: block;
        width: 100%;
        height:100%;
    }
} 

/*经典永续*/
#jdyx{
    width:$one;
    height:830px;
    margin:  0 auto;
    img{
        display: inline-block;
    }
} 

/*星座*/
#xingz{
    width:$one;
    height:630px;
    margin: 0 auto;
    img{
        display: inline-block;
        float: left;
    }
} 

/*心心相吸*/
#xxxx{
    width:$one;
    height:645px;
    margin: 0 auto;
    img{
        display: inline-block;
        height: 100%;
    }
}  

/*萌宠礼盒*/
#mclh{
    width:$one;
    height: 480px;
    margin: 0 auto;
    img{
        height: 100%;
    }
} 

/*玫瑰公仔，全是爱，经典永续*/ 
#qsa{
    width:$one;
    height:690px;
    margin: 0 auto;
    img{
        height: 100%;
        border: none;
    }
}

/*玫瑰珠宝*/
#mgzb{
    width:$one;
    height: 695px;
    margin: 0 auto;
    img{
        width: 100%;
    }
} 

/*生辰石*/
#scs{
    width:$one;
    height:415px;
    margin: 0 auto;
    img{
        height:100%;
    }
} 

/*玫瑰散香，玫瑰香氛*/
#mgsx{
    width:$one;
    height:950px;
    margin: 0 auto;
    img{
        height:100%;
    }
} 

/*玫瑰饰品，高端定制，Gift Card*/ 
#gift{
    width:$one;
    height:670px;
    margin: 0 auto;
    img{
        height:100%;
    }
}

/*尾部*/
#bottom{
    width:100%;
    background: #414141;
    height: 260px;
    .bottom{
        width: $one;
        height: 210px;
        padding-top:50px; 
        margin: 0 auto;
       ul{
           li{
               float: left;
               margin: 0 65px;
            h6{
                font-size: 16px;
                color: #fff;
                margin-bottom: 20px;
            }
            a{
                display: block;
                color: #AFAFAF;
                line-height: 30px;
                i{
                    font-size: 22px;
                }
            }
            
           }
           img{
                width: 100px;
                height: 100px;
                display: block;
                float: left;
                margin:0 30px 0 80px; 
                
            }
            p{  
                width: 100px;
                float: left;
                font-size: 12px;
                line-height: 20px;
                color: #AFAFAF;
                strong{
                    font-size: 16px;
                }
            }
            span{
                display: inline-block;
                margin:35px 0 0 150px; 
                font-size: 12px;
                color: #AFAFAF;
            }
       } 
       .copyright{
        width: 1280px;
        height: 60px;
        margin: 0 auto;
        text-align: right;
        font-size: 12px;
        color: #AFAFAF;
      
    }
    }
   
} 
